@import '../../index.scss';

.news-card {
  @include openSans;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  h2 {
    margin-top: 0px;
    margin-bottom: 0.5rem;
    @include TitleWave;
    font-size: 1.25rem;
  }
  h3 {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #000;
    h2 {
      color: darkblue;
    }
  }
}

.news-img {
  max-width: 25rem;
  box-sizing: border-box;
  padding-bottom: 1rem;
}

.author-text {
  @include openSansBoldItalic;
  font-weight: bold;
  font-size: 1rem;
}

.published-text {
  @include openSansItalic;
  font-size: 1rem;
}

