.App {
  text-align: center;
  background-color: lightgrey;
  height: 100%;
}

.content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;
}
