* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'TitleWave';
  src: url('../src/Assets/Fonts/title_wave/titlewv.ttf') format('woff');
}

@font-face {
  font-family: 'openSans';
  src: url('../src/Assets/Fonts/Open_Sans/static/OpenSans-Regular.ttf')
    format('woff');
}

@font-face {
  font-family: 'openSansItalic';
  src: url('../src/Assets/Fonts/Open_Sans/static/OpenSans-Italic.ttf')
    format('woff');
}

@font-face {
  font-family: 'openSansBoldItalic';
  src: url('../src/Assets/Fonts/Open_Sans/static/OpenSans-BoldItalic.ttf')
    format('woff');
}

@mixin TitleWave {
  font-family: 'TitleWave';
}

@mixin openSans {
  font-family: 'openSans';
}

@mixin openSansItalic {
  font-family: 'openSansItalic';
}

@mixin openSansBoldItalic {
  font-family: 'openSansBoldItalic';
}
